- content_for :breadcrumb do
  %li= link_to @project.name, project_url(@project.guid)
  %li.active= topic_name(@topic)

%h1
  = topic_name(@topic)
  %small in #{@project.name}

- if @topic.url
  = link_to @topic.url, @topic.url, target: "_blank"
- else
  There is no associated URL for this topic.

%h2 Builds

= link_to "Add New Build", new_project_topic_build_url(@project.guid, @topic.id), class: "btn btn-default"

- @topic.builds.order(created_at: :desc).each do |build|
  .topic
    %h3= link_to build.bundle_version, project_topic_build_url(@project.guid, @topic.id, build.id)
    %div Published at #{l build.created_at}
    %div Version: #{build.bundle_version}
    = link_to "Install", install_plist_url(build), class: "btn btn-primary"
